Token=yourtokenhere
ConnectionString=Data Source = hostname/ip; Initial Catalog = database; Persist Security Info = True; User ID = user; Password = password
NASAApiKey=DEMO_KEY
LavaLinkPass=password
RijndaelInputKey=rijndaelkey
UptimeKumaUrl=uptimeurl
